/* variables */
:root {
    --main-border-set: #ddd solid 1px;
    --header-height: 60px;
    --footer-height: 40px;

    --topic-width: 570px;
    --topic-height: 350px;

    --mypage-more-heigth: 70px;

    --body-bc: #fefefe;

    --main-color: #d4fc79;
    --fir-sub-color: #96e6a1;
    --sec-sub-color: #84fab0;
    --thr-sub-color: #8fd3f4;
    
    --main-font-color: #192403;
    --sub-font-color: #333;

    --main-footer-color: #cfd9df;
    --sub-footer-color: #e2ebf0;
}


/* setting */
* {
    margin: 0;
    padding: 0;
    color: var(--main-font-color);
}

body {
    background-color: var(--body-bc);
}

a {
    color: var(--main-font-color);
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    border: var(--main-border-set);
}

.container {
    width: 80%;
    margin: auto;
}


/* wrap */ 
#wrap {
    height: auto;
    min-height: 100vh;
}


/* main */
#main {
    width: 80%;
    margin: calc(var(--header-height) + 40px) auto 50px;
    padding: 40px 0;
}

#title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin: 40px 0 80px;

    background-color: #dfdfdf;
}

#title {
    font-size: 40px;
}

#review-wrap .review {
    width: calc(100% - 40px);
    padding: 20px;

    border: var(--main-border-set);
    border-radius: 10px;
}

