<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">

  <script th:src="@{/js/layout.js}" defer></script>

  <title>STAMILY</title>
</head>
<body>
<div id="wrap">
  <!-- header -->
  <header th:replace="~{layout/header :: header}"></header>

  <!-- main -->
  <main id="main">
    <article class="dummy"></article>

    <!-- class topics -->
    <h3 class="topic-title">강의 목록</h3>
    <section class="bg-topic">
      <a class="topic" th:each="topic : ${topics}" th:href="@{/topic/detail(id=${topic.id})}">
        <div class="topic-img"></div>
        <div class="topic-info">
          <h4 class="topic-name" th:text="${topic.name}">class name</h4>
          <ul class="topic-desc">
            <li>강사명&nbsp <span th:text="${topic.teacher.name}">teacher name</span></li>
            <li>수업요일&nbsp <span th:text="${topic.days}">class of day</span></li>
            <li>수업대상&nbsp <span th:text="${topic.target+'학년'}">class target</span></li>
          </ul>
          <div class="categories">
            <!-- 카테고리 갯수만큼 추가하는 코드 -->
            <span class="category"
              th:each="cat : ${topic.category.split(',')}" th:text="${cat}">
            </span>
          </div>
        </div>
      </a>
    </section>

    <!-- Page Number -->
    <div id="page">
      <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/index(page = ${page})}"
           th:text="${page+1}" ></a>
        <strong th:if="${page == nowPage}" th:text="${page+1}"></strong>
      </th:block>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{layout/footer :: footer}"></footer>
</div>
</body>
</html>
