<div class="header container">
    <div class="logo"><a href="main.html">STAMILY</a></div>
    <div class="input-box">
        <form action="#" method="get" name="search-form" id="search-form">
            <input type="text" id="search-text" name="search-text" placeholder="검색할 방과후명을 작성해주세요">
            <button type="submit" id="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <div id="mypage">
        <div id="mypage-icon">
            <i class="fa-solid fa-circle-user fa-2x"></i>
        </div>
        <ul id="mypage-more">
            <li><a href="../sign/sign.html">SIGN IN</a></li>
            <hr>
            <li><a href="#">MY PAGE</a></li>
        </ul>
    </div>
</div>
<hr>

<!-- nav -->    
<nav id="nav">
    <div class="nav container">
        <ul>
            <li><a href="#">menu1</a></li>
            <li><a href="#">menu2</a></li>
            <li><a href="#">menu3</a></li>
            <li><a href="#">menu4</a></li>
        </ul>
    </div>
</nav>
<hr>